body{
  margin: 0;
  background-color: #eeee;
  height: auto;
  overflow-x:hidden;
}
link{
  text-decoration: none;
  color:none;
}
a{
  text-decoration: none;
  color:white;
}

button{
  cursor: pointer;
}
/*-----------------------navbar----------------------- */
.navbar{
  display: flex;
  justify-content: space-evenly;
  background: rgb(74, 31, 31);
  height: 40px;
  font-size: 1.3rem;
  font-family: 'Mplus 1p', sans-serif;
  font-weight: 100;
}

.nav-items{
  display: flex;
  align-items: center;
}

/*---------------------navbar end  ------------------------- */

/*----------------------Cart Page--------------------------*/
.container {
  background: linear-gradient(to bottom, rgb(74, 52, 52), rgb(3, 2, 2)); /* Vertical gradient */
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-container{
  width: 80%;
  height: 80%;
  background-color: rgb(90, 75, 75);
}

.btn-container{
  display: flex;
  justify-content: center;
  background-color: none;
}
.cart-text{
  display: flex;
  justify-content: center;

}

.continue-shopping-button{
  background-color: rgb(44, 34, 34);
  border: 2px solid black; 
  color: white;
}
.continue-shopping-button:hover{
  background: rgb(105, 59, 59);
  transition: background 500ms ease;
}
/*----------------------Cart Page End--------------*/

/*----------------------home page------------------------*/
.home-container{
  background: linear-gradient(to bottom, rgb(72, 11, 11), rgba(108, 108, 108, 1)); /* Vertical gradient */
  width: 100vw;
  height: 100vh;
  display: flex;

}
.map-container{
  float: right;
  background-color: rgb(157, 152, 152);
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25pt;
}

.location-container{
  float: left;
  background-color: rgb(74, 52, 52);
  width: 50vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}



.location-form{
  background-color: rgb(74, 31, 31);
  height: 70%;
  width: 85%;
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center items horizontally */
}

.form-items{
  font-size: 1.1rem;
  font-family: 'Mplus 1p', sans-serif;
  font-weight: 50;
  width: 75%;
}

.form-items-text{
  color:white;
  margin-bottom: 6px;
  display: flex;
  justify-content: center;
  
}

.form-input{
  width: 100%;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 6px;
}

.btn-cartpage{
  margin-top: 30px;
  font-size: 15pt;
  padding: 15px;
  background: rgb(138, 120, 120);
  border: none;
  border-radius: 5px;
}


/*----------------------home page eng-----------------------*/

/*----------------------Admin Page--------------------------*/
.aamu-logo{
  position: absolute;
  width: 100px;
  height: 100px;
}
.aamu-logo{
  position: absolute;
  width: 125px;
  height: 90px;
  margin-top: 5px;
}
.algin-right{
  right: 0
}
.admin-container {
  background: linear-gradient(to bottom, rgb(74, 52, 52), rgb(3, 2, 2)); /* Vertical gradient */
  width: 100vw;
  height: 100vh;
  min-height: 550px;
}

.admin-text{
  height: 100px;
  display: flex;
  align-items: center;
  font-size: 35pt;
  font-family: 'Mplus 1p', Arial, Helvetica, sans-serif;
  letter-spacing: 15px;
  color: rgba(245, 245, 245, 0.784);
}

.admin-body{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

.admin-upload-body{
  width: 80%;
  height: 80%;
  max-width: 800px;
  background-color: rgb(75, 61, 61);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider{
  margin: 25px;
  border: 1.69px #FFBBBB solid;
  width: 90%;
}

.admin-upload-text{
  color: white;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25pt;
  letter-spacing: 5px;
}

.upload-items{
  width: 90%;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 22pt;
}

.item-label{
  width: 40%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b7b0b0ee;
  color: #eeee;
}

.item-input{
  width: 57%;
  height: 45px;
  background-color: #b7b0b0ee;
  align-self: flex-end;
  border:none;
  
}

.admin-button{
  background-color: rgb(101, 91, 91);
  color: white;
  font-size: 20pt;
  letter-spacing: 2px;
}

.admin-button:hover{
  background-color: rgb(66, 65, 65);
  color: white;
  transition: background 500ms ease;
}
/*----------------------Admin End--------------*/



/*----------------------Register Page--------------------------*/
.aamu-logo{
  position: absolute;
  width: 100px;
  height: 100px;
}
.aamu-logo{
  position: absolute;
  width: 125px;
  height: 90px;
  margin-top: 5px;
}
.algin-right{
  right: 0
}
.register-container {
  background: linear-gradient(to bottom, rgb(74, 52, 52), rgb(3, 2, 2)); /* Vertical gradient */
  width: 100vw;
  height: 100vh;
  min-height: 550px;
}

.register-text{
  height: 100px;
  display: flex;
  align-items: center;
  font-size: 35pt;
  font-family: 'Mplus 1p', Arial, Helvetica, sans-serif;
  letter-spacing: 15px;
  color: rgba(245, 245, 245, 0.784);
}

.register-body{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

.register-upload-body{
  width: 80%;
  height: 80%;
  max-width: 800px;
  background-color:  rgb(75, 61, 61);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider{
  margin: 25px;
  border: 1.69px #FFBBBB solid;
  width: 90%;
}

.register-upload-text{
  color: white;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25pt;
  letter-spacing: 5px;
}

.upload-items{
  width: 90%;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 22pt;
}

.item-label{
  width: 40%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #695e5eee;
  color: #ffffffee;
}

.item-input{
  width: 57%;
  height: 45px;
  background-color: #7f7272ee;
  align-self: flex-end;
  border:none;
  
}

.register-button{
  background-color: rgb(163, 158, 158);
  color: white;
  font-size: 20pt;
  letter-spacing: 2px;
}

.register-button:hover{
  background-color: rgb(66, 65, 65);
  color: white;
  transition: background 500ms ease;
}
/*----------------------register End--------------*/
