body{
  margin: 0;
  background-color: #eeee;
  height: auto;
  overflow-x:hidden;
}
link{
  text-decoration: none;
  color:none;
}
a{
  text-decoration: none;
  color:white;
}

button{
  cursor: pointer;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

/*-----------------------navbar----------------------- */
.navbar{
  display: flex;
  justify-content: space-evenly;
  background: rgb(74, 31, 31);
  height: 40px;
  font-size: 1.3rem;
  font-family: 'Mplus 1p', sans-serif;
  font-weight: 100;
}

.nav-items{
  display: flex;
  align-items: center;
}

/*---------------------navbar end  ------------------------- */

/*----------------------Cart Page--------------------------*/
.container {
  background: linear-gradient(to bottom, rgb(74, 52, 52), rgb(3, 2, 2)); /* Vertical gradient */
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-container{
  width: 80%;
  height: 80%;
  background-color: rgb(90, 75, 75);
}

.btn-container{
  display: flex;
  justify-content: center;
  background-color: none;
}
.cart-text{
  display: flex;
  justify-content: center;
  

}

.continue-shopping-button{
  background-color: rgb(44, 34, 34);
  border: 2px solid black; 
  color: white;
}
.continue-shopping-button:hover{
  background: rgb(105, 59, 59);
  transition: background 500ms ease;
}
/*----------------------Cart Page End--------------*/

/*----------------------home page------------------------*/
.home-container{
  background: linear-gradient(to bottom, rgb(80, 44, 44), rgb(0, 0, 0)); /* Vertical gradient */
  width: 100vw;
  height: 100vh;
  display: flex;

}
.map-container{
  float: right;
  background-color: rgb(100, 94, 94);
  width: 60vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25pt;
}

.location-container{
  float: left;
  background-color:rgba(44, 38, 34, 0.537);
  width: 50vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  
  
}





.location-form{
  background-color: rgb(74, 31, 31);
  height: 70%;
  width: 85%;
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center items horizontally */
  border-radius: 10px;
}

.form-items{
  font-size: 1.1rem;
  font-family: 'Mplus 1p', sans-serif;
  font-weight: 50;
  width: 75%;
}

.form-items-text{
  color:white;
  margin-bottom: 6px;
  display: flex;
  justify-content: center;
  
}

.form-input{
  width: 100%;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 6px;
}

.btn-cartpage{
  margin-top: 30px;
  font-size: 15pt;
  
  padding: 20px;
  background: rgb(115, 97, 97);
  border: none;
  border-radius: 5px;
  color: rgb(10, 9, 9);
}


/*----------------------home page eng-----------------------*/

/*----------------------Admin Page--------------------------*/
.aamu-logo{
  position: absolute;
  width: 100px;
  height: 100px;
}
.aamu-logo{
  position: absolute;
  width: 125px;
  height: 90px;
  margin-top: 5px;
}
.algin-right{
  right: 0
}
.admin-container {
  background: linear-gradient(to bottom, rgb(74, 52, 52), rgb(3, 2, 2)); /* Vertical gradient */
  width: 100vw;
  height: 100vh;
  min-height: 550px;
}

.admin-text{
  height: 100px;
  display: flex;
  align-items: center;
  font-size: 35pt;
  font-family: 'Mplus 1p', Arial, Helvetica, sans-serif;
  letter-spacing: 15px;
  color: rgba(245, 245, 245, 0.784);
}

.admin-body{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

.admin-upload-body{
  width: 80%;
  height: 80%;
  max-width: 800px;
  background-color: rgb(75, 61, 61);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider{
  margin: 25px;
  border: 1.69px #FFBBBB solid;
  width: 90%;
}

.admin-upload-text{
  color: white;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25pt;
  letter-spacing: 5px;
}

.upload-items{
  width: 90%;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 22pt;
}

.item-label{
  width: 40%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b7b0b0ee;
  color: #eeee;
}

.item-input{
  width: 57%;
  height: 45px;
  background-color: #b7b0b0ee;
  align-self: flex-end;
  border:none;
  
}

.admin-button{
  background-color: rgb(101, 91, 91);
  color: white;
  font-size: 20pt;
  letter-spacing: 2px;
}

.admin-button:hover{
  background-color: rgb(66, 65, 65);
  color: white;
  transition: background 500ms ease;
}
/*----------------------Admin End--------------*/



/*----------------------Register Page--------------------------*/

.register-container {
  background: linear-gradient(to bottom, rgb(88, 59, 59), rgb(44, 3, 3) 90%); /* Vertical gradient */
  width: 100vw;
  height: 100vh;
  min-width: 900px;
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center items horizontally */
}

.register-title {
  height: 100px;
  font-size: 35pt;  
  font-family: 'Mplus 1p', Arial, Helvetica, sans-serif;
  letter-spacing: 30px;
  color: rgba(245, 245, 245, 0.784);
  display: flex;
  align-items: center;
}

.register-body {
  background:linear-gradient(to bottom, #bf8a8a, rgb(29, 25, 25)); /* Vertical gradient */;
  width: 90%;
  height: 80%;
  max-width: 1100px;
  max-height: 800px;
  min-width: inherit;
  background-color:  rgb(75, 61, 61);
  border-radius: 10px;
  display: flex;
}

.register-left-container{
  background-color: #570505;
  width: 50%;
  height: 80%;
  margin: 50px;
  border-radius: 25px 25px;
}

.grey-bar{
  background: grey;
  border-radius: 25px 25px 0px 0px;
  height: 45px;
  width: 100%;
  margin-bottom: 25px;
}

.register-text{
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 18pt;
  letter-spacing: 10px;
}


.image-container{
  width: 100%;
}

.register-image{
  height: inherit; /*inherits from the image-container */
  width: inherit;
}

.register-button{
  background: #686868;
  width: 200px;
  height: 50px;
  font-size: 20pt;
  border-radius: 10px;
  color :#dadada
  
}

.create-account-text{
  margin-top: 20px;
  color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  letter-spacing: 10px;
  font-weight: 900;
  font-size: 25pt;
}

.register-form{
  width: 100%;
}

.account-image{
  width: 35px;
  height: 35px;
}

.account-item{
  display: flex;
  height: inherit;
  margin-bottom: 10px;
}

.account-input{
  width: 60%;
  background: #e9e8e895;
  height: inherit;
  border: 0;
  font-size: 15pt;
  text-align: start;
  border-radius: 0px 5px 5px 0px;
  
}

.image-holder{
  width: 30%;
  height: 50px;
  background: #c6c1c18d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 0px 0px 5px;
}

.register-button-dark{
  width: 90%;
  height: 50px;
  font-size: 20pt;
  color: #a14545;
  background: black;
  border: none;
  display: flex;
  justify-content: center;
  align-items:center;
  border-radius: 10px;
}
/*----------------------register End--------------*/

/*-------------------------sign in ---------------------*/
.signin-title{
  margin: 25px;
  color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70pt;
  letter-spacing: 5px;
}


.signin-items{
  width: 60%;
  font-size: 22pt;
  display: flex;
  flex-direction: column;
  height: 100px;
}

.signin-label{
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eeee;
}

.signin-input{
  width: 100%;
  height: 45px;
  background-color: #b7b0b0ee;
  align-self: flex-end;
  border:none;  
}

.signin-button{
  width: 90%;
  height: 50px;
  font-size: 25pt;
  color: #a14545;
  background: black;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 10px;
}

.signin-btn-container{
  width: 40%;
  height: 50px;
}

.signin-bottom-container{
  width: 100%;
  display: flex;
}

.signin-divider{
  margin: 25px;
  border: 1.69px #cfc9c9 solid;
  width: 30%;
}

.signin-text{
  color: white;
  height: 50px;
  display: flex; 
  align-items: center;
  
}

.newuser-text{
  color: rgb(179, 172, 172);
  height: 30px;
  display: flex; 
  align-items: center;
}

.forgot{
  color: rgb(179, 172, 172);
}
 /* item-label item-input */


 /* --------------       About page     ----------------    */
.e-s-d-i-r{
  /*margin: 25px;
  background-color: linear-gradient(to bottom, #555252, rgb(225, 222, 222));
  width: 100%;*/
  position: absolute; 
            top: 0%;
            right: 23%; 
 
            font-size: 40px; 
            
            background: linear-gradient(to bottom, #b8b1b1, 
            #645f5f); 
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70pt;
  letter-spacing: 5px;
  color: #ffffff;
}

.About-container {
  background: linear-gradient(to bottom, rgb(74, 52, 52), rgb(3, 2, 2)); /* Vertical gradient */
  width: 100vw;
  height: 100vh;
  min-height: 550px;
}

.esdir-name{
  
  font-size: 40px; 
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
            
            background: linear-gradient(to bottom, #b8b1b1, 
                    #645f5f); 
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                    display: flex;
                    align-items: center;
}

.ESDIR-description{
  right: 23%; 
 
            font-size: 40px; 
            
            background: linear-gradient(to bottom, #b8b1b1, 
            #645f5f); 
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
}

.div{
  right: 23%; 
 
            font-size: 40px; 
            
            background: linear-gradient(to bottom, #b8b1b1, 
            #645f5f); 
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
}

.p{
  right: 23%; 
 
            font-size: 40px; 
            
            background: linear-gradient(to bottom, #b8b1b1, 
            #645f5f); 
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
}